<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net46" />
  <package id="Gma.QrCodeNet" version="0.4.1.2" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.4.3" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="MVVM-Sidekick" version="2.0.2-alpha" targetFramework="net47" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net47" />
  <package id="Unity" version="5.6.1" targetFramework="net47" />
  <package id="UwpDesktop" version="10.0.14393.3" targetFramework="net46" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net46" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net46" />
</packages>